*{
	font-family: $body_font;
}

#principal{
	background-color: $gris-oscuro;
}

#home{
	background-color: $background-nav;
	border-radius: $radius;
	max-width:1600px;
}

/*botones*/

#boton{
	@include button();
}

/*diseño nav*/

#nav{
color: $background-nav;
}

.nav-trans{
	background-color: $background-nav !important;
	li a, 
	a{
		color: $gris-oscuro;
	}
}

/*diseño seccion home*/

#col{
	border-radius: $radius;
}

#col-home{
	@include col-home();

	i{
	     width: 80px;
	     align-content: center;
	     text-align:center;
   }
}


/*diseño iconos home*/
#i-resp{
	color: #F30DE1;
}

#i-qua{
	color: #10AFA1;
}

#i-sup{
	color: green;
}

/*diseño sección who are*/

#whoare{
	background-image: url("../img/img_city.jpg");
	background-repeat: no-repeat;                          
	height: 900px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;

    img{
	 margin-top: 30px;
	 width: 100%;;
	 }

    h1, p{
		color: $background-nav;
		@extend img;
    }

    iframe{
	    width: 80%;
	    margin-left: 100px;
    }
}

/*diseño sección products*/

#col-pro{
	background-color: $background-nav;
	border-radius: $radius;
    border: 1px solid #aaa;
}

#products{
	@include productos();
	background-color: $gris-claro;
	@include titulos();

    a, i, {
	    color: $gris-oscuro;
	    margin-left: 12px;
    }
}


/*diseño sección portfolio*/

#portafolio{
	img{
	@include img();
	}

	background-color: $background-nav;
	@include titulos();
}


/*diseño sección meet*/

#meet{
	@include equipo();
	background-color: $background-nav;
	@include titulos();

	h1{
		width:100%;
	}

	 .fa fa-google-plus,
	 .fa fa-pinterest{
		@include goopint();
	}

	.fa fa-facebook{
		@include face();
	}

	.fa fa-twitter{
		@include twiter();
	}

	.fa fa-linkedin{
		@include link();
	}

	.fa fa-dribbble{
		@include dribbble();
	}

	.fa fa-github{
		@include github();
	}

}


/*diseño sección planes*/

#planes{
	background-color: $gris-claro;
	h1{
	color: $p-negro;
	font-size: 15px;
	font-weight:bold;
	width:100%;
	text-align:justify;
	}

	p{
	color:$gris-oscuro;
	}

	h6{
		p:$gris-oscuro;
		font-weight:bold;
		text-align: center;
	}

	.precios, 
	.line{
		color:$p-negro;
		font-weight:900;
	}
}

#col-white{
	background-color: $background-nav;
	width: 250px;
	margin-top: 20px;
}


/*diseño sección clientes*/

#clientes{
	@include clientes();
}


/*diseño sección suscripción*/

#suscripcion{
	 background-image: url("../img/about.jpg");
	 color:$background-li;
	 background-repeat: no-repeat;                          
	height: 300px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:5% 45%;

	h1{
		width:100%;
		text-align:center;
	}
	p{
		text-align:center;
	}

	form{
	background-color: $background-nav;
	border-radius: $radius;
	width: 500px;
	height: 80px;
	margin-left: 200px;
	}
}

/*diseño sección blog*/

#blog{
	@include titulos();
	@include blog();

	#til1{
		color:$p-pink;
	}

	#til2{
		color: #72C1EE;
	}

	#til3{
		color:red;
	}
}

/*diseño sección contacto*/

#contact{
	background-image: url("../img/img_city.jpg");
	background-color: whitesmoke;
	background-repeat: no-repeat;                          
	height: 600px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;

	h1, p, h6, i{
		color:$background-nav;
		width:100%;
	}

	form{
		background-color: $background-nav;
		border-radius: $radius;
	}

}


/*diseño sección footer*/

#foot{
	background-color: $gris-claro;
	@include imgfoot();
	@include footcont();
}




/*carousel*/

.wrapper{
  width:90%;
  position:relative;
  margin:5% auto 0;
}


.carousel{
	width: 100%;
	position: relative;
	padding-top: 60%;
	overflow: hidden;
}

.inner{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}


.slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	right:0;
	left:0;
	z-index: 1;
	opacity: 0;
}

.slide.active,
.slide.left,
.slide.right{
	z-index: 2;
	opacity: 1;
}


.js-reset-left{left:auto}


.slide.left{
	left:-100%;
	right:0;
}

.slide.right{
	right:-100%;
	left: auto;
}

.transition .slide.left{left:0%}
.transition .slide.right{right:0%}

.transition .slide.shift-right{right: 100%;left:auto}
.transition .slide.shift-left{left: 100%;right:auto}


.transition .slide{
	transition-property: right, left, margin;
}


.indicators{
  width:100%;
  position: absolute;
  bottom:0;
  z-index: 4;
  padding:0;
  text-align: center;
}

.indicators li{
	width: 13px;
	height: 13px;
	display: inline-block;
	margin: 5px;
	background: #fff;
	list-style-type: none;
	border-radius: 50%;
  cursor:pointer;
  transition:background 0.3s ease-out;
}

.indicators li.active{background:#93278f}

.indicators li:hover{background-color:#2b2b2b}


.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover{border-color:#93278f}

.arrow-left{
  left:20px;
  transform:rotate(225deg);
}

.arrow-right{
  right:20px;
  transform:rotate(45deg);
}

.slide{
	text-align:center;
  padding-top:25%;
  background-size:cover;
}

h1{
	width:100px;
  height:100px;
	margin:auto;
  line-height:100px;
	color:#fff;
	font-size:2.4em;
}

.slide:nth-child(1){
	background-image:url(..img/img_slider_1.jpg);
 }

.slide:nth-child(2){
	background-image:url(..img/img_slider_2.jpg);
}

