*{
	font-family: $body_font;
}

/*esto cambia el ancho de container*/
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

#principal{
	background-color: $gris-oscuro;
}

#home{
	background-color: $background-nav;
	border-radius: $radius;
	max-width:1600px;
}

/*botones*/

#boton{
	@include button();
}

/*diseño nav*/

#nav{
    color: $background-nav;
}

.nav-trans{
	background-color: $background-nav !important;
	li a, 
	a{
		color: $gris-oscuro;
	}
}

/*diseño seccion home*/

#col{
	border-radius: $radius;
}

#col-home{
	@include col-home();

	i{
	     width: 80px;
	     align-content: center;
	     text-align:center;
   }
}


/*diseño iconos home*/
#i-resp{
	color: #F30DE1;
}

#i-qua{
	color: #10AFA1;
}

#i-sup{
	color: green;
}

/*diseño sección who are*/

#whoare{
	background-image: url("../img/img_city.jpg");
	background-repeat: no-repeat;                          
	height: 900px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;

    img{
	 margin-top: 30px;
	 width: 100%;;
	 }

    h1, p{
		color: $background-nav;
		@extend img;
    }

    iframe{
	    width: 80%;
	    margin-left: 100px;
    }
}

/*diseño sección products*/

#col-pro{
	background-color: $background-nav;
	border-radius: $radius;
    border: 1px solid #aaa;
}

#products{
	@include productos();
	background-color: $gris-claro;
	@include titulos();

    a, i, {
	    color: $gris-oscuro;
	    margin-left: 12px;
    }
}


/*diseño sección portfolio*/

#portafolio{
	img{
	@include img();
	}

	background-color: $background-nav;
	@include titulos();
}


/*diseño sección meet*/

#meet{
	@include equipo();
	background-color: $background-nav;
	@include titulos();

	h1{
		width:100%;
	}

	 .fa fa-google-plus,
	 .fa fa-pinterest{
		@include goopint();
	}

	.fa fa-facebook{
		@include face();
	}

	.fa fa-twitter{
		@include twiter();
	}

	.fa fa-linkedin{
		@include link();
	}

	.fa fa-dribbble{
		@include dribbble();
	}

	.fa fa-github{
		@include github();
	}

}


/*diseño sección planes*/

#planes{
	background-color: $gris-claro;
	h1{
	color: $p-negro;
	font-size: 15px;
	font-weight:bold;
	width:100%;
	text-align:justify;
	}

	p{
	color:$gris-oscuro;
	}

	h6{
		p:$gris-oscuro;
		font-weight:bold;
		text-align: center;
	}

	.precios, 
	.line{
		color:$p-negro;
		font-weight:900;
	}
}

#col-white{
	background-color: $background-nav;
	width: 250px;
	margin-top: 20px;
}


/*diseño sección clientes*/

#clientes{
	@include clientes();
}


/*diseño sección suscripción*/

#suscripcion{
	 background-image: url("../img/about.jpg");
	 color:$background-li;
	 background-repeat: no-repeat;                          
	height: 300px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:5% 45%;

	h1{
		width:100%;
		text-align:center;
	}
	p{
		text-align:center;
	}

	form{
	background-color: $background-nav;
	border-radius: $radius;
	width: 500px;
	height: 80px;
	margin-left: 200px;
	}
}

/*diseño sección blog*/

#blog{
	@include titulos();
	@include blog();

	#til1{
		color:$p-pink;
	}

	#til2{
		color: #72C1EE;
	}

	#til3{
		color:red;
	}
}

/*diseño sección contacto*/

#contact{
	background-image: url("../img/img_city.jpg");
	background-color: whitesmoke;
	background-repeat: no-repeat;                          
	height: 600px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;

	h1, p, h6, i{
		color:$background-nav;
		width:100%;
	}

	form{
		background-color: $background-nav;
		border-radius: $radius;
	}

}


/*diseño sección footer*/

#foot{
	background-color: #4E4548;
	@include imgfoot();
	@include footcont();

	a{
		color: $background-nav;
		font-size: 10px;
		font-weight: bold;
	}
}


/*carousel*/
#carusel{
	padding-top:0;
	h1, p{
		color: $background-nav;
	}
}

 #car1{
 	background-image:url("../img/img_slider_1.jpg");
 	background-repeat: no-repeat;                          
	height: 500px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;
 }

 #car2{
 	background-image:url("../img/img_slider_2.jpg");
 	background-repeat: no-repeat;                          
	height: 500px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;
 }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
   position:absolute;
   top:50%;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:white !important;
  }
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }
    .indicators{
  	visibility: hidden;
  }


