/*plantilla botones*/

@mixin button(){
	background-color: $p-pink;
	border-radius: $radius;
	height: $alto;
	color: $background-nav;
	width: 190px;
	font-size: 15px;
}

/*plantilla para seccion home*/

@mixin col-home(){
	background-color: $background-nav;

  h5{
	  color: $p-negro;
	  text-align: center;
 }

  p{
  	color: $gris-oscuro;
  }
}


/*plantilla para seccion products*/

@mixin productos(){
 	background-color: $background-nav;

  h6{
	  color: $p-pink;
	  text-align: center;
	  font-size: 10px;
 }

  h5{
	  color: $p-negro;
	  text-align: center;
	  font-size: 15px;
  }

  p{
      color:$gris-oscuro;
  }

  img{
	  width: 69%;
	  border-radius: $radius;
	  margin-left: 29px;
  }
}

@mixin img(){
    display: inline-block;
	width: 230px;
	height: 210px;
	margin: auto;
	border-radius: $radius;
}

@mixin equipo(){
	h5{
		color: $p-negro;
		text-align:left;
	}

	h6{
		color: $gris-oscuro;
		text-align:left;
	}

	p{
		color:$gris-claro;
	}

	img{
	width: 100%;
	border-radius: $radius;
	}
}




@mixin condicion($icon){
color:($icon);
@if $icon==apps{
color: pink;
}
@else if $icon==format_list_bulleted{
color:blue;
}

@else if $icon==menu{
color: green;
}
}


