/*plantilla botones*/

@mixin button(){
	background-color: $p-pink;
	border-radius: $radius;
	height: $alto;
	color: $background-nav;
	width: 190px;
	font-size: 15px;
}

/*plantilla titulos*/

@mixin titulos(){
	h1{
		color: $p-negro;
	    text-align: center;
	    width:100%;
	}

    p{
		color: $gris-oscuro;
		text-align: center;
    }
}

/*plantilla para seccion home*/

@mixin col-home(){
	background-color: $background-nav;

  h5{
	  color: $p-negro;
	  text-align: center;
 }

  p{
  	color: $gris-oscuro;
  }
}


/*plantilla para seccion products*/

@mixin productos(){
 	background-color: $background-nav;

  h6{
	  color: $p-pink;
	  text-align: center;
	  font-size: 10px;
 }

  h5{
	  color: $p-negro;
	  text-align: center;
	  font-size: 15px;
  }

  p{
      color:$gris-oscuro;
  }

  img{
	  width: 69%;
	  border-radius: $radius;
	  margin-left: 29px;
  }
}

/*plantilla para img seccion portfolio*/

@mixin img(){
    display: inline-block;
	width: 280px;
	height: 250px;
	margin: 5px;
	border-radius: $radius;
}


/*plantilla para seccion equipo*/

@mixin equipo(){
	h5{
		color: $p-negro;
		text-align:left;
	}

	h6{
		color: $gris-oscuro;
		text-align:left;
	}

	p{
		color:$gris-claro;
	}

	img{
	width: 100%;
	border-radius: $radius;
	}
}

/*plantilla para iconos sección equipo*/

@mixin face(){
	color: #040A64;
}

@mixin twiter(){
	color: #72C1EE;
}

@mixin goopint(){
	color: #DC3F27;
}

@mixin link(){
	color: #3C81A9;
}

@mixin dribbble(){
	color: $p-pink;
}

@mixin github(){
	color: $p-negro;
}

/*plantilla para sección clientes*/

@mixin clientes(){
	@include titulos();

	img{
		width: 50%;
		margin-left: 80px;
	}

	h5{
	color:$p-negro;
	text-align:center;
	font-size: 20px;
	}

	h6{
	color:$gris-oscuro;
	text-align:center;
	}

	p{
	color:$gris-claro;
	}
}


/*plantilla para sección blog*/

@mixin blog(){
	img{
		width: 100%;
		border-radius:$radius;
		margin-left: 1px;
	}

	h5{
	color:$gris-oscuro;
	font-size: 20px;
	font-weight:bold;
	}

	p, a{
	color:$gris-oscuro;
	}

}

/*plantilla para img footer*/

@mixin imgfoot(){
	img{
		width:100%;
	border-radius: $radius;
  }
}

/*plantilla para footer*/

@mixin footcont(){

	h5{
		color: $background-nav;
		width:100;
		font-weight: bold;
	}

	p{
		color: $gris-oscuro;
	}

	i{
		color: $background-nav;
		margin-top: 20px;
	}
}

