$body_font:'Raleway', sans-serif;
$width:100%;
$border-bottom: 1px solid #aaa;
$alto: 60px;
$background-nav: #ffffff; 
$transparente-nav: transparent;
$background-li:#FAF8F2;
$radius: 5px;

$color_text_p:#989998;
$text_center:center;
$padding:6%;
$padding_media:11%;
$padding_footer:2%;
$width_desktop:100%;