$body_font:'Raleway', sans-serif;
$background_nav:transparent;
$width:100%;
$border-right: 1px solid #aaa;
$alto: 20px;

$color_text_laboratoria:#EA8F0E;
$color_text_p:#989998;
$text_center:center;
$padding:6%;
$padding_media:11%;
$padding_footer:2%;
$width_desktop:100%;