$body_font:'Raleway', sans-serif;
$width:100%;
$border-bottom: 1px solid #aaa;
$alto: 40px;
$background-nav: #ffffff; 
$transparente-nav: transparent;
$background-li:#FAF8F2;
$radius: 5px;
$p-negro:#000000;
$gris-claro:#DEDBD5;
$gris-oscuro:#B2B0AB;
$p-pink: #EC1153;


$text_center:center;
$padding:6%;
$padding_media:11%;
$padding_footer:2%;
$width_desktop:100%;